.et-msg-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
}

.et-msg-body{
    width: 80%;
    margin: auto;
    border-radius: 5px;
    position: relative;
    max-height: 80%;
    overflow: hidden;
    top: 45%;
    transition: transform .1s;
    -webkit-transition: -webkit-transform .1s;
}

.et-msg-title{
    text-align: center;
    padding: 5px;
    color: #ffffff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #000;
    font-size: 1.6rem;
}

.et-msg-content{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #000;
    text-align: center;
}

.et-msg-btn{
    text-align: center;
    display: box;
    display: -webkit-box;
}

.et-msg-btn a{
    padding: 10px 0;
    line-height: normal;
    border-radius: 0;
    display: block;
    width: auto;
    -webkit-box-flex: 1.0;
    box-flex:1.0;

    background-color: #000;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-bottom: none;
}

.et-msg-btn a:last-child{
    border-right: 0 none;
}

.et-msg-toast-main{
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    display: none;
}

.et-msg-toast-main div{
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    max-width: 70%;
    display: inline-block;
    position: relative;
    color: #ffffff;
    background: #000;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.9);
}


.et-msg-icon{
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    padding: 5px 5px 0;
}

.et-msg-icon img{
    display: inline-block;
    max-width: 60%;
    width: auto;
}

.load_rota_animation{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes load_rota {
    0%{-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

@keyframes load_rota {
    0%{transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.load_rota {
    -webkit-animation-name: load_rota;
    animation-name: load_rota;
}

.et-msg-loading .et-msg-content{ font-size: 1.4rem;}
.et-msg-icon-item .et-msg-content{ padding: 5px;}
